@charset "UTF-8";
/* ------------------------------
    基本設定（変数・リセット・共通）
------------------------------ */
/* Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  letter-spacing: 0.2rem;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth; /* ページ全体のスクロールを滑らかにする */
}

img {
  max-width: 100%; /* width: 100% から変更 */
  height: auto;
  vertical-align: bottom; /* 画像下の謎のすき間を消す */
}

a {
  text-decoration: none;
  color: inherit; /* 親要素の文字色を継承させる（青字や紫字になるのを防ぐ） */
}

li {
  list-style: none;
}

:root {
  /* Colors */
  --text-color: #5e5e5e;
  /* fonts */
  --font-family-base: 'Noto+Sans+JP', sans-serif;
}

body {
  color: var(--text-color);
  font-family: var(--font-family-base);
}

.wrapper {
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
}

/* ==================================================
    トップに戻るボタン
================================================== */
.page-top {
  font-size: clamp(1rem, 2.222vw, 2rem);
  position: fixed;
  right: 6.944vw;
  bottom: 13.888vw;
  writing-mode: vertical-rl; /* ★文字を縦書きにする */
  transform: rotate(180deg); /* ★文字を180度反転・回転させる */
  cursor: pointer;
  z-index: 999;
  /* 初期状態は非表示（スクロールしたら表示させるため） */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

/* スクロール時にクラスを付与して表示させる */
.page-top.is-active {
  opacity: 1;
  visibility: visible;
}

/* ==================================================
    sections
================================================== */
.section {
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 5.555vw;
}
.section__title {
  width: clamp(180px, 31.25vw, 450px);
  margin: clamp(50px, 6.66vw, 80px) auto;
  font-size: clamp(2rem, 3.33vw, 3rem);
  letter-spacing: 0.08em;
  border: 2px dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__title--red {
  border-color: #C89A8B;
}
.section__title--blue {
  border-color: #61769A;
}
.section__title--navy {
  border-color: #293C6C;
}
.section__title--yellow {
  border-color: #C7A54A;
}
.section__title--purple {
  border-color: #70138A;
  font-size: 2rem;
  width: 300px;
  height: 65px;
  margin-bottom: clamp(50px, 6.66vw, 60px);
}
.section__subtitle {
  font-size: clamp(15px, 1.38vw, 20px);
}
.section__lead {
  text-align: center;
  margin-bottom: 30px;
}
.section__lead--text {
  font-weight: 500;
  margin-bottom: 12px;
  letter-spacing: 0.13rem;
}
.section__lead--note {
  font-size: 0.75rem;
}
.section__divider {
  display: inline-block;
  width: 100%;
  height: clamp(130px, 20.833vw, 300px);
  margin-top: clamp(80px, 10.416vw, 150px);
}
.section__divider--last {
  height: 100px;
}

/* ==================================================
    read more ボタン
================================================== */
.btn {
  margin-top: 20px;
  margin-left: 20px;
}

.readmore-btn {
  color: #fff;
  background-color: #9F9F9F;
  padding: 10px 3.333vw;
  width: clamp(100px, 13.888vw, 200px);
  border-radius: 100px;
  letter-spacing: 12%;
  text-align: center;
  box-shadow: 0 4px 0 rgb(110, 108, 108);
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.readmore-btn:hover {
  transform: translateY(4px);
  box-shadow: none;
}
.readmore-btn__works:hover {
  background-color: #C89A8B;
}
.readmore-btn__about:hover {
  background-color: #5572b4;
}

/* ==================================================
    ローディング画面
================================================== */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #ece9e6, #ffffff, #f5f7fa);
  transition: opacity 1s ease;
}

.loader-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  opacity: 0;
  margin-bottom: 20px;
}

/* ライン */
.loader-line {
  width: 210px;
  height: 2px;
  background: #333;
  transform: scaleX(0);
}

/* ==================================================
    header （ヘッダー）
================================================== */
.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.6862745098);
  display: flex;
  justify-content: end;
  align-items: center;
}

.global-nav {
  display: flex;
  justify-content: flex-end; /* 右寄せにする */
}
.global-nav__list {
  display: flex;
  line-height: 2;
  padding-inline: 10vw;
}
.global-nav__item {
  margin-right: clamp(30px, 4.16vw, 60px);
}
.global-nav__item:nth-last-child(1) {
  margin-right: 0;
}
.global-nav__link {
  display: inline-block;
  padding-bottom: 2px;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.global-nav__link--red {
  border-bottom: 2px dashed #C89A8B;
}
.global-nav__link--red:hover {
  border-color: #d4cac6;
}
.global-nav__link--blue {
  border-bottom: 2px dashed #61769A;
}
.global-nav__link--blue:hover {
  border-color: #9b9fa5;
}
.global-nav__link--yellow {
  border-bottom: 2px dashed #C7A54A;
}
.global-nav__link--yellow:hover {
  border-color: #bbb5a6;
}
.global-nav__link:hover {
  color: #b6b6b6;
}

/* ==================================================
    main （メイン）
================================================== */
.fv-container {
  position: relative;
  /* display:fixd;した固定ヘッダーの高さ分だけ上を開けて下に押し下げる */
  margin-top: clamp(100px, 18.75vw, 270px);
}
.fv-container__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.55vw;
}

.fv-description {
  padding: 3.8vw;
  padding-right: clamp(3vw, 3.8vw, 54.72px);
  padding-left: clamp(70px, 5.069vw, 73px);
}
.fv-description__title {
  font-size: clamp(1rem, 2.22vw, 2rem);
  font-weight: normal;
  letter-spacing: 10;
}
.fv-description__en-name {
  font-size: clamp(2rem, 3.33vw, 3rem);
  line-height: 1.3;
  margin: 20px 0;
}
.fv-description__item {
  display: block;
}
.fv-description__inner {
  margin-left: auto;
}
.fv-description__text {
  font-size: clamp(10px, 1.11vw, 1rem);
}

.fv-img-box {
  position: relative;
  width: min(35vw, 500px);
  flex-shrink: 0;
}
.fv-img-box__image {
  width: 100%; /* .fv-img-boxに対する500pxの割合 */
  aspect-ratio: 1/1; /* 縦横比を1:1（正方形）に固定 */
  -o-object-fit: cover;
     object-fit: cover; /* 画像が歪むのを防ぐ */
  box-shadow: 8px 3px 25px 2px rgb(191, 191, 191);
}
.bg-panel::before {
  content: "";
  position: absolute;
  top: -1.388vw;
  right: -1.388vw;
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
  z-index: -50;
  /* 点線を描くための背景グラデーション（上・右・下・左の4辺分） */
  background-image: linear-gradient(to right, #ccc 50%, transparent 50%), linear-gradient(to bottom, #ccc 50%, transparent 50%), linear-gradient(to right, #ccc 50%, transparent 50%), linear-gradient(to bottom, #ccc 50%, transparent 50%); /* 左 */
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  /* ★ここで「点線の長さ」と「線の太さ」を調整します！ */
  /* 形式：[点線の長さ + 間隔] [線の太さ] */
  background-size: 15px 2px, 2px 15px, 15px 2px, 2px 15px; /* 左辺：太さ2px、長さ15px周期 */
}

.scroll-down {
  width: 9.72vw; /* 全体のサイズ */
  height: 9.72vw;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 1. 円形テキストの回転アニメーション */
}
.scroll-down__circle {
  width: 100%;
  height: 100%;
  animation: rotateCircle 12s linear infinite; /* 12秒で1周回転 */
}
.scroll-down__circle text {
  fill: #333333; /* 文字の色（白） */
  font-size: 0.54rem; /* 文字の大きさ */
  font-family: serif; /* フォント（明朝系・セリフ体） */
  letter-spacing: 2px; /* 文字間隔 */
}
.scroll-down {
  /* 2. 中央の矢印ライン */
}
.scroll-down__arrow {
  position: absolute;
  width: 1px;
  height: 2.083vw;
  background-color: #333333;
  /* 矢印の先端（下側のくの字） */
}
.scroll-down__arrow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -3px;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(45deg);
}

/* 回転キーフレーム */
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------------------
    works-section
------------------------------ */
.works-wrapper {
  max-width: clamp(350px, 63.19vw, 910px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.works-box {
  display: flex;
  position: relative;
}
.works-box::before {
  top: 2.777vw;
  right: -4.861vw;
}
.works-box__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-box__img, .works-box__inner {
  box-shadow: 6px 8px 12px 3px rgb(191, 191, 191);
}
.works-box__title {
  letter-spacing: 8%;
}
.works-box__inner {
  width: 50%;
  padding: 4.86vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  justify-content: center;
}
.works-box__card {
  display: inline-block;
  font-size: 0.75rem;
  margin-right: clamp(7px, 0.694vw, 10px);
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 5px;
  letter-spacing: 0.1%;
  background-color: rgba(223, 222, 222, 0.4509803922);
}

.work-card__image {
  width: 50%;
}

.panel-text {
  color: #9F9F9F;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  letter-spacing: 15%;
}
.panel-text--original {
  right: clamp(-110px, -7.43vw, -107px);
}
.panel-text--mockup {
  right: -100px;
}

/* ------------------------------
    about-section
------------------------------ */
.about-section__img-box {
  width: clamp(80px, 13.888vw, 150px);
}
.about-section__img-box .jp-name {
  text-align: center;
}
.about-section__box {
  width: 80%;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  gap: 2.7777vw;
}
.about-section__text {
  font-size: clamp(1rem, 1.333vw, 1.2rem);
  line-height: 2;
  padding-inline: 1vw;
}

.about-wrapper {
  margin-inline: auto;
  display: flex;
  gap: 6.944vw;
  align-items: center;
  justify-content: center;
}
.about-wrapper__title {
  color: #757575;
  display: inline-block;
  background-color: #DFFFFC;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.about-wrapper__text {
  line-height: 2.84;
}

/* ------------------------------
    skill-section
------------------------------ */
.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.861vw;
  justify-content: center;
}
.skill-wrapper__box {
  width: clamp(200px, 18.055vw, 260px);
  aspect-ratio: 1/1; /*アスペクト比を1:1（正方形）に指定（ 自動で縦も200pxの正方形に ） */
  border-radius: 15px;
  background-image: url(../images/skill-card.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.083vw;
  box-shadow: 6px 8px 12px 3px rgb(191, 191, 191);
}
.skill-wrapper__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-wrapper__box, .skill-wrapper__inner {
  gap: clamp(15px, 2.083vw, 30px);
}

.icon-box {
  width: clamp(50px, 4vw, 60px);
  height: clamp(50px, 4vw, 60px);
  gap: 2.083vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------
    contact-section
------------------------------ */
.contact-wrapper {
  max-width: 700px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-left: auto; /*  フォーム自体を中央に寄せる */
  margin-right: auto; /*  フォーム自体を中央に寄せる */
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__label {
  text-align: left;
  font-size: 0.875rem;
}
.form .badge {
  color: red;
  margin-left: 10px;
  font-size: 0.75rem;
}
.form__input, .form__textarea {
  background-color: #ebe8e8;
  border: none;
  padding: 15px;
}
.form__textarea {
  height: 250px;
  resize: vertical;
}
.form__checkbox, .form__agree, .form__button {
  cursor: pointer;
}
.form__checkbox {
  transform: scale(1.5);
}
.form__agree {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.form__button {
  padding: 20px 40px;
  background-color: #F4EDDE;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 0 4px 0 rgb(235, 215, 197);
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.form__button:hover {
  transform: translateY(4px);
  background-color: #e0c579;
  box-shadow: none;
}

/* ------------------------------
    gallery-section
------------------------------ */
.gallery-section__title {
  margin: clamp(50px, 6.66vw, 80px) auto;
}
.gallery-section__wrapper {
  width: 100%;
  padding: 0 10px;
  margin: 0 10px;
}
.gallery-section__wrapper img {
  height: 216px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* ★画像を引き伸ばさず中央で切り抜く */
}

/* 2. 画像と画像の間に余白をつくる */
.slick-slide {
  margin: 0 10px; /* ★左右に10pxずつ（合計20px）の余白を作る */
}

/* ==================================================
    footer(フッター)
================================================== */
.footer {
  padding-top: 30px;
}
.footer .frame-inner {
  justify-content: center;
}

.footer .global-nav__list {
  margin-bottom: 30px;
}

small {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

/* ANCHOR: Work Detail Page (詳細ページ専用スタイル) */
/* ==========================================
    Work Detail Page（詳細ページ専用スタイル）
========================================== */
.works-detail-bg {
  background-image: url(../images/works-detail-bg02.jpg);
  background-repeat: no-repeat; /* 繰り返さない */
  background-size: cover; /* 縦横比を保ったまま要素いっぱいに拡大 */
  background-position: center; /* 中央を基準に配置 */
  padding-bottom: clamp(50px, 6.944vw, 100px);
}

.works-detail__wrapper {
  width: 90%;
  max-width: 910px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.861vw;
  margin-bottom: clamp(80px, 6.944vw, 100px);
  padding: 5.555vw;
  border-radius: 30px;
  background-color: #fff;
}
.works-detail__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 2.777vw, 40px);
}

.works-hero__title {
  font-size: clamp(1.2rem, 2.222vw, 2rem);
  margin-top: 100px;
  padding: 2.777vw 4.166vw;
  position: relative; /* 疑似要素の位置の基準にする */
  background-image: url(../images/detail-title.jpg);
  background-repeat: no-repeat; /* 繰り返さない */
  background-size: cover; /* 縦横比を保ったまま要素いっぱいに拡大 */
  background-position: center; /* 中央を基準に配置 */
}
.works-hero__title::before {
  content: "";
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%); /* 縦方向の中央揃え */
  width: 0.416vw;
  height: 50%;
  background-color: #469246;
}
.works-hero {
  font-weight: normal;
  letter-spacing: 0.2rem;
}
.works-hero__image {
  width: 100%;
  height: calc(100vh - 200px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 80%;
     object-position: center 80%;
}

.works-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: clamp(50px, 6.944vw, 100px);
  margin-bottom: clamp(50px, 6.944vw, 100px);
}
.works-links__btn {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #8BF1D8;
  box-shadow: 6px 8px 12px 3px rgb(191, 191, 191);
  display: flex;
  gap: 10px;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.works-links__btn:hover {
  transform: translateY(-4px); /* 上に4px浮かせる */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12); /* 影を広げて濃くする */
}

.sp-views {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: clamp(50px, 7.638vw, 110px);
}
.sp-views__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.sp-views__img {
  border-radius: 12%;
}

.works__title {
  font-size: clamp(1.3rem, 2.222vw, 2rem);
  text-align: center;
}

.works-wrapper__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works-wrapper__sub-title {
  font-size: clamp(1rem, 1.666vw, 1.5rem);
  font-weight: normal;
}

.works-points__lists {
  display: flex;
  flex-direction: column;
  gap: clamp(30px, 4.861vw, 70px);
  padding: 0;
}
.works-points__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.works-points__text {
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.back-link {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}
.back-link:hover {
  color: #918f8f;
}

/* ANCHOR: about Detail Page (詳細ページ専用スタイル) */
/* ==========================================
    about Detail Page（詳細ページ専用スタイル）
========================================== */
.about-detail .section__divider {
  margin-top: 0;
}

@media (max-width: 900px) {
  .skill-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  p {
    font-size: 0.8rem;
  }
  .btn {
    text-align: center;
  }
  .fv-description {
    width: 100%;
    padding-top: 30px;
  }
  .fv-description__en-name {
    margin: 0;
  }
  .fv-container__wrapper, .skill-wrapper, .works-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央寄せ */
  }
  .fv-img-box {
    align-self: center;
    margin-top: -100px;
    transform: translateX(12vw);
  }
  .scroll-down__arrow {
    width: 0.5px;
  }
  .section {
    padding: 0;
  }
  .works-box {
    width: 100%;
    max-width: 90%;
  }
  .work-card__image, .works-box__inner {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-section__text {
    padding-inline: 40px;
  }
  .sp-views {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .global-nav {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .fv-img-box {
    transform: translateX(13vw);
  }
  .fv-description__en-name {
    line-height: 1.1;
  }
}/*# sourceMappingURL=style.css.map */